h1 {
    color: #bbb;
    font-family: 'Lato', sans-serif;
    font-size: 54px;
    font-weight: 300;
    margin: 0 0 8px;
}

p {
   color: #333;
   font-family: 'Lucida Sans', Arial, sans-serif;
   font-size: 16px;
   line-height: 26px;
   text-indent: 30px;
   margin: 0;
}

a {
   color: #fe921f;
   text-decoration: underline;
}

a:hover {
   color: #ffffff
}

.date {
   background: #fe921f;
   color: #ffffff; display: inline-block;
   font-family: 'Lato', sans-serif;
   font-size: 12px;
   font-weight: bold; line-height: 12px;
   letter-spacing: 1px;
   margin: 0 0 30px;
   padding: 10px 15px 8px;
   text-transform: uppercase;
}

.chapter-number {
  color: #fe921f;
}

.content-area {
  margin-top: 50px;
}

.row {
  margin-bottom: 10px;
}

.credit-footnote {
  color: #bbb;
  size: 0.7em;
}



